<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Blog</title>
=======
  <title>TryingRails</title>
>>>>>>> d292fa03db7ef04ceddf0f68bb512a10b9c3ddb5
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
